theme-color = #00c896
theme-hover-color = #e6faf5
border-color = #e6e6e6

.aside
  margin-top 10px

  height 950px
  border-radius 7px
  overflow hidden
  box-sizing border-box


.menu
  height 100%
  .el-menu-item
    height 50px
    &:hover
      background-color #fff
    &:focus
      background-color #fff

  .el-menu-item-group
    .el-menu-item
      &:hover
        background-color theme-hover-color
        color theme-color
      &:focus
        background-color #fff
      height 32px
      line-height 32px
      color #4b4b4b99
      &.is-active:before
        top 0

.el-menu-item.is-active:before
  content ""
  position absolute
  top 10px
  left 0
  height 32px
  width 3px
  background theme-color
  border-bottom-right-radius 4px
  border-top-right-radius 4px