theme-color = #00c896
theme-hover-color = #e6faf5
border-color = #e6e6e6

.hp-wrapper
  width 1000px
  height 100%
  margin-top 20px


  .notice
    height 100px
    line-height 100px

    .el-card__body
      padding 0 0 0 40px
      color #999999

      span
        margin-left 20px

      .title
        padding 10px
        background-color #ffc524
        color #fff

      .more
        color #00c896

  .numbers
    margin-top 20px
    width 100%
    display flex
    justify-content space-between

    .el-card__body
      box-sizing border-box
      width 230px
      height 140px

      .card-left
        float left
        width 50px
        height 50px
        margin-top 25px
        margin-right 20px

        img
          width 50px
          height 50px

      .card-right
        float left

        p
          font-size 14px
          color #4b4b4b99

  .diary
    margin-top 20px
    height 500px
    background-color #ffffff

    #tab-first
      padding-left 16px
    .el-tabs__item.is-active
      color theme-color
    .el-tabs__item:hover
      color theme-color
    .el-tabs__active-bar
      background-color theme-color
      height 4px
      border-radius 5px
