<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>


<div id="app">
    <div>
        <label>Id:
            <input type="text" v-model="id">
        </label>

        <label>Name:
            <input type="text" v-model="name">
        </label>

        <input type="button" value="添加" @click="add">
    </div>


    <ul>
        <!-- 今后,只要涉及到了  v-for 这种循环,推荐,给 循环的每一项添加 :key 属性 -->
        <!-- 其中, :key 属性,只接受 number 或 string 类型的数据,不要直接为 :key 指定对象 -->
        <!-- :key 指定的值,必须具有唯一性 -->
        <li v-for="(item, i) in list1" :key="item.id">
            <input type="checkbox"> Id: {{ item.id }} ---- 姓名: {{ item.name }}
        </li>
    </ul>
</div>

<script>
    const vm = new Vue({
        el: '#app',
        data: {
            id: '',
            name: '',
            list1: [
                {id: 1, name: '嬴政'},
                {id: 2, name: '李斯'},
                {id: 3, name: '吕不韦'},
                {id: 4, name: '尉缭子'}
            ]
        },
        methods: {
            add() {
                var info = {id: this.id, name: this.name}
                this.list1.push(info)
            }
        }
    })
</script>

</body>
</html>