*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.contact{
    width: 100%;
    height: 100%;
    position: relative;
}
@media screen and (max-width:649px){
    html{
        font-size: 10px;
    }
    .content{
        background: linear-gradient(180deg, #F8E2DE 0%, #FFFFFF 100%);
        width: 100%;
        padding-top: 15vh;
    }
    .content>div{
        text-align: center;
    }
    .title{
        display: flex;
        justify-content: center;
    }
    .title img{
        width: 24vw;
    }
    .callus{
        font-size: 5.53vw;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #191919;
        line-height: 3.8;
        box-sizing: border-box;
        -webkit-background-clip: text;
    }
    .detail{
        font-size: 4vw;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #191919;
        padding-bottom: 37vh;
    }
    .detail p {
        line-height: 3;
    }
    .footer{
        font-size: 1.2rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #233D63;
        line-height: 1.5;
        text-align: center;
        margin-top: 30px;
    }
    
}
@media screen and (max-width:1920px) and (min-width:650px){
    .content {
		background: linear-gradient(180deg, #F8E2DE 0%, #FFFFFF 100%);
		width: 100%;
		padding-top: 137px;
		padding-bottom: 240px;
		overflow: hidden;
	}
    .content>div{
        width: 650px;
        margin: 0 auto;
    }
    .title{
        display:flex;
        align-items: center;
    }
    .callus {
		margin-top: 56px;
		margin-bottom: 28px;
		height: 80px;
		font-size: 36px;
		font-family: PingFangSC-Medium, PingFang SC;
		font-weight: 500;
		color: #191919;
		line-height: 80px;
		-webkit-background-clip: text;
	}

	.detail {
		font-size: 26px;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #191919;
		line-height: 36px;
		-webkit-background-clip: text;
	}
	.detail p {
		line-height: 2.8;
	}

	.footer {
		font-size: 12px;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #233D63;
		line-height: 1.5;
		text-align: center;
		margin-top: 30px;
	}
    .foot p {
        display: inline-block;
    }
    .ft{
        white-space: nowrap;
    }
}
.footer a {
    text-decoration: none;
    color: #233D63;
}
.guohui{
    position: relative;
    left: -8px;
    top: 4px;
}